<!DOCTYPE html>
<html lang="en" ng-app="my app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib.js"></script>
</head>
<body ng-controller="myctrl">
    <div>
        fullname:<input type="text" ng-model="fn" placeholder="enter your first name "><br><br>
        lastname:<input type="text" ng-model="ln" placeholder="enter your last name "><br><br>
        <button ng-click="displayfullname()">display your full name</button>

        <h2>your full name is {{ fullname }}</h2>
    </div>
    <script>
        var app=angular.module("my app",[])
        app.controller("myctrl",function($scope){ 
            $scope.fn="trupthi"
            $scope.ln="chatlu"
            $scope.displayfullname=function(){
                $scope.fullname=$scope.fn+" "+$scope.ln
            }
        }) 
    </script>
</body>
</html>